body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
}

#cabecalho{
    width: auto;
    background-color: #FFD900;
}

#ccxp{
    padding: 27px 0px 28px 58px; 
}

#informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #514988;
    position: absolute;
    width: 802px;
    height: 694px;
    left: 0px;
}

h1{
    width: 676px;
    height: 149px;
    left: 58px;

    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    

    color: #F3C61F;
}

h2{
    position: absolute;
    width: 676px;
    height: 149px;
    left: 58px;
    top: 149px;

    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    
}

p{
    width: 678px;
    height: 350px;
    left: 64px;
    top: 370px;

    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    color: #FFFFFF;
}

.countdown{
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    text-align: center;
}

#dia{
    position: absolute;
    width: 239px;
    height: 175px;
    left: 802px;
    top: 103px;
    color: #514988;
}

#hora{
    position: absolute;
    width: 270px;
    height: 175px;
    left: 987px;
    top: 103px;
    color: #514988;
}

#minuto{
    position: absolute;
    width: 273px;
    height: 175px;
    left: 1203px;
    top: 104px;
    color: #514988;
}

#segundo{
    position: absolute;
    width: 239px;
    height: 175px;
    left: 1422px;
    top: 103px;
    color: #514988;
}

#texto2{
    position: absolute;
    width: 741px;
    height: 36px;
    left: 842px;
    top: 230px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #E33881;
}

#video{
    position: absolute;
    left: 817px;
    top: 284px;
}    

video{
    width: 880px;
    height: 510px;
}

#ingressotexto{
    position: absolute;
    width: 800px;
    height: 33px;
    left: 89px;
    top: 815px;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F3C61F;
}

.ingressos{
    display: flex;
    padding-top: 10px;
    padding-bottom: 38px;
}

#quinta{
    position: absolute;
    width: 204px;
    height: 204px;
    left: 81px;
    top: 875px;
}

#sexta{
    position: absolute;
    width: 204px;
    height: 204px;
    left: 285px;
    top: 875px;
}

#sabado{
    position: absolute;
    width: 204px;
    height: 204px;
    left: 489px;
    top: 875px;
}

#domingo{
    position: absolute;
    width: 204px;
    height: 204px;
    left: 693px;
    top: 875px;
}

button{
    position: absolute;
    width: 596px;
    height: 148px;
    left: 1004px;
    top: 903px;

    background-color: #514988;
    border-style: none;
    border-radius: 20px;

    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

button:hover{
    background: #514988;
    cursor: pointer;
    color: yellow;
}